#banner {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.block {
  background-color: rgb(238, 238, 238);
}
.block a, .block a:visited {
  color: rgb(0, 0, 0);
}
#right .block h2 {
  background-color: rgb(204, 204, 153);
  color: rgb(0, 0, 0);
}
#left .block h2 {
  background-color: rgb(34, 102, 153);
  color: rgb(255, 255, 255);
}
#left .block ul li {
  border-color: rgb(204, 204, 153);
}

.block-nodesinblock h1 {
  background-color: rgb(4, 0, 93);
  color: rgb(255, 255, 255);
}
body {
  background-color: rgb(34, 102, 153);
  color: rgb(0, 0, 0);
}
.breadcrumb a:link, .breadcrumb a:visited {
  color: rgb(0, 0, 244);
}
#center {
  border-color: rgb(204, 204, 153);
}
#center .block {
  background-color: transparent;
}
#center h1, #center h2 {
  border-color: rgb(0, 0, 0);
}
#common-menu {
  background-color: rgb(0, 0, 0);
}
#common-menu a {
  color: rgb(255, 255, 255);
}
#common-menu li {
  border-color: rgb(255, 255, 255);
}
.field-type-link {
  background-color: rgb(0, 0, 0);
}
.field-type-link .field-item {
  background-color: rgb(0, 0, 0);
  border-color: rgb(255, 255, 255);
}
.field-type-link .field-item a{
  color: rgb(255, 255, 255);
}
#footer {
  border-color: rgb(34, 102, 153);
}
#pagewrapper {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
#right .block {
  background-color: rgb(255, 255, 255);
  border-color: rgb(204, 204, 153);
}
.status {
  background-color: rgb(168, 255, 168);
  border-color: rgb( 0, 245, 0);
}

.field-content h2, .field-content a, .field-item a {
  color: rgb(0, 0, 0);
}
