a img {
  border-style: none;
}
#banner {
  height: 80px;
  margin-top: 40px;
  text-align: center;
}
#banner .site-name, #banner .site-slogan {
  margin: 0;
  overflow: none;
  padding: 0;
}
#banner-text {
  margin: 0;
  padding: 0;
  position: relative;
  top: 35%;
  vertical-align: middle;
}
.block h2 {
  margin: 0;
  padding: 2px 5px;
  border-style: solid;
  border-width: 1px;
}
.block h3 {
  margin: 0;
  padding: 2px 5px;
}
.block-nodesinblock h1 {
  margin: 0;
  padding: 2px 5px;
}
.block .content {
  padding: 2px;
}
body {
  height: 100%;
  margin: 0;
  min-width: 760px;
  padding: 0;
}
body.one-sidebar #center {
  border-width: 1px;
  width: 603px;
}
body.sidebar-left #center {
  margin-right: 0;
}
body.sidebar-right #center {
  margin-left: 0;
}
body.two-sidebars #center {
  /* set the margin for ie6 compat*/
  margin: auto;
  width: 405px;
}

#breadcrumb {
  height: 20px;
  overflow: hidden;
}
#center {
  border-style: solid;
  border-width: 1px;
  margin: 0 200px 5px 155px;
  overflow: hidden;
  padding: 2px;
  position: relative;
}
#center h1, #center h2 {
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: 0em 0 0.3em 0;
  padding: 0 2px;
}
#center .standard {
  clear: none;
}
#center table th {
  padding-right: 0.3em;
}

#common-menu {
  height: 20px;
  overflow: hidden;
}
#common-menu li {
  border-style: solid;
  border-width: 0 1px 0 0;
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  padding: 0;
  width: 145px;
}
#common-menu li a {
  padding: 0 0.7em;
}
#common-menu li.last {
  border-width: 0;
}
/* Override an external search module style */
.extesea-search-form .form-item, .extesea-search-form .form-submit {
  float: none;
}
.field-type-link {
  min-height: 18px;
  margin-bottom: 3em;
  margin-top: -3px;
  /* secretly force it to be wider than the content display, to accomodate the link bar size */
  width: 600px;
}
.field-type-link .field-item {
  border-style: solid;
  border-width: 0 1px 0 0;
  display: block;
  float: left;
  width: 148px;
}
.field-type-link .field-item a {
  line-height: 18px;
  padding: 0 0.3em;
}
#footer {
  border-style: solid;
  border-width: 15px 0 0 0;
  clear: both;
}
#footermsg {
  float: left;
  width: 490px;
}
#footer-left {
  float: left;
  width: 250px;
}
html {
  height: 100%;
}
img {
  border-width: 0;
}
#left {
  float: left;
  margin-bottom: 5px;
  width: 150px;
}
#left .block .content {
  padding-bottom: 0;
  margin-bottom: 5px;
  border-style: solid;
  border-width: 0 0px 0px 0;
}
#left .block ul {
  margin: 0;
  padding: 0;
}
#left .block ul li {
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: .2em 0 .2em 1.2em;
  padding: 0;
  list-style: none;
}
#left .block ul ul li {
  border-width: 0 0 0px 0;
  list-style: none;
  margin-left: 15px;
}
li img {
  margin: 0.3em;
}
.messages {
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  -moz-border-radius: 5px;
  padding: 5px;
  -webkit-border-radius: 5px;
}
.node li {
  margin-bottom: 0.4em;
}
#pagewrapper {
  min-height: 100%;
  margin: 0 auto;
  padding: 10px;
  width: 760px;
}
#right {
  float: right;
  margin-bottom: 5px;
  width: 195px;
}
#right .block {
  border-style: solid;
  border-width: 1px;
}
#right .block h2 {
  border-style: none;
}
table {
  width: 100%;
}
/* included but not used:
.top-triangle {
  height: 12px;
  width: 19px;
} */
