/* hide things that shouldn't be printed */
#banner, #breadcrumb, #common-menu, #footer, #left, #right, .field-type-link, .tabs {
  display: none;
}
body.one-sidebar #center, body.two-sidebars #center {
  left: 0;
  margin: 0;
  width: 100%;
}
#container {
  width: 100%;
}