body {
  background-color: rgb(255, 255, 255);
}
#buttons {
  float: left;
  height: 30px;
  margin: 30px 80px 10px 80px;
  padding: 0;
}
#buttons .button {
  background-color: rgb(255, 0, 0);
  border-color: rgb(255, 102, 102) rgb(204, 51, 51) rgb(204, 51, 51) rgb(255, 102, 102);
  border-style: solid;
  border-width: 2px;
  color: rgb(255, 255, 255);
  display: block;
  float: left;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-right: 30px;
  text-align: center;
  width: 116px;
}
#buttons .button a {
  color: #ffffff;
  text-decoration: none;
}
.fip-logo {
  height: 20px;
  margin: 20px 80px 10px 80px;
}
.goc-logo {
  float: right;
  height: 20px;
  margin: 30px 80px 0 0;
  padding-top: 3px;
}
#imp-txt {
  clear: both;
  margin: 0 80px;
  padding: 0;
}
.imp-txt {
  display: block;
  float: left;
  margin-right: 30px;
  width: 120px;
}
#institution {
  background-color: #e1e1e1;
  height: 250px;
  margin: 0 80px;
}
