#banner .site-name {
  font-family: verdana, helvetica, serif;
  font-size: 1.6em;
  letter-spacing: 0.25em;
}
.block a, .block a:visited {
  text-decoration: none;
}
.block h2 {
  font-size: 1em;
}
.block h3 {
  font-size: 1em;
  font-weight: normal;
}
.block-nodesinblock h1 {
  font-size: 1.1em;
}
body {
  font-family: verdana, helvetica, sans-serif;
  font-size: 9pt;
}
.breadcrumb a:link, .breadcrumb a:visited {
  text-decoration: none;
}
#center .block h2 {
  font-size: 1.2em;
}
#center h1 {
  font-size: 1.6em;
  text-transform: capitalize !important;
}
#center h2 {
  font-size: 1.5em;
}
#center h3 {
  font-size: 1.4em;
}
#center h4 {
  font-size: 1.3em;
}
#center h5 {
  font-size: 1.2em;
}
#center h6 {
  font-size: 1.1em;
}

#common-menu {
  font-weight: bold;
}
#common-menu a {
  text-decoration: none;
}
.field-type-link .field-item a {
  font-weight: bold;
  text-decoration: none;
}
#footermsg {
  text-align: right;
}
.messages {
  font-size: 0.8em;
}
.tabs {
  font-size: 0.8em;
}
.field-content h2, .field-content a, .field-item a {
  text-decoration: none;
}
.field-content h2 {
  font-size: 1.2em;
}
.field-content a:hover {
  text-decoration: underline;
}
.field-item a:hover {
  text-decoration: underline;
}